yc_token                 = "<OAuth>"
yc_cloud_id              = "<https://console.yandex.cloud/cloud/yc_cloud_id>"
yc_folder_id             = "<https://console.yandex.cloud/folders/yc_folder_id>"
yc_zone                  = "ru-central1-a"
yc_instance_name         = "a2k-otus-proxy-vm"
yc_image_id              = "fd808e721rc1vt7jkd0o" # Ubuntu 20.04 LTS
yc_subnet_name           = "a2k-otus-subnet"
yc_service_account_name  = "a2k-otus-sa"
yc_bucket_name           = "a2k-otus-bucket"
yc_network_name          = "a2k-otus-network"
yc_route_table_name      = "a2k-otus-route-table"
yc_nat_gateway_name      = "a2k-otus-nat-gateway"
yc_security_group_name   = "a2k-otus-security-group"
yc_subnet_range          = "10.0.0.0/24"
yc_dataproc_cluster_name = "a2k-otus-dataproc-cluster"
yc_dataproc_version      = "2.0"
public_key_path          = "<your public ssh key path>.pub"
private_key_path         = "<your private ssh key path>"
